<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.xfmapssample">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="XFMapsSample.Android">
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="YOUR_API_KEY" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>